apiVersion: batch/v1
kind: CronJob
metadata:
  name: drexel-scheduler-cronjob
spec:
  schedule: {{ .Values.schedule }}
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  timeZone: "US/Eastern"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      activeDeadlineSeconds: 3600
      backoffLimit: 10
      template:
        spec:
          containers:
            - name: drexel-scheduler-job
              image: zohairr/drexelscheduler-scraper:{{ .Values.image.tag }}
              env:
                - name: ENVIRONMENT
                  value: {{ .Values.env }}
              envFrom:
                - configMapRef:
                    name: drexel-scheduler-configmap
                - configMapRef:
                    name: aws-configmap
                - configMapRef:
                    name: postgres-configmap
                - secretRef:
                    name: aws-pwds
                - secretRef:
                    name: grafana-sa-pwd
                - secretRef:
                    name: postgres-pwd
                - secretRef:
                    name: drexel-scheduler-secrets
              volumeMounts:
                - name: shared-pvc
                  mountPath: /app/cache
                  subPath: cronjob_cache
                - name: shared-pvc
                  mountPath: /app/performance
                  subPath: cronjob_performance
          volumes:
            - name: shared-pvc
              persistentVolumeClaim:
                claimName: shared-pvc
          restartPolicy: OnFailure
          nodeSelector:
            kubernetes.io/hostname: {{ .Values.nodeSelector.hostname }}
