apiVersion: batch/v1
kind: CronJob
metadata:
  name: delete-ratings-cronjob
spec:
  schedule: "0 3 * * 5" # Every Friday at 03:00
  timeZone: "US/Eastern"
  successfulJobsHistoryLimit: 0
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          volumes:
            - name: shared-pvc
              persistentVolumeClaim:
                claimName: shared-pvc
          containers:
            - name: delete-ratings-file
              image: busybox
              volumeMounts:
                - name: shared-pvc
                  mountPath: /data
                  subPath: cronjob_cache
              command:
                - "/bin/sh"
                - "-c"
                - |
                  if [ -f /data/ratings_cache.json ]; then
                    rm /data/ratings_cache.json
                  fi
          restartPolicy: OnFailure
          nodeSelector:
            kubernetes.io/hostname: {{ .Values.nodeSelector.hostname }}
